body{
    background-color: rgb(178, 105, 247);
margin-top: 10%;

}
#centro{
text-align: center;
justify-content:center ;
}


#cadastro{
justify-content: center;
align-items: center;
border-radius: 8% ;
height: 70%;
width: 30%;
background-color: aquamarine;
margin-top: 6%;

}


#vendas{
text-align: center ;

}

#quadro{
    justify-content: center;
    align-items: center;
    border-radius: 3% ;
    height: 85%;
    width: 30%;
    background-color: rgba(255, 156, 28, 0.836);
   margin-top: auto;
padding: 10px;
background-color: rgb(34, 255, 156);
}

#body2{
background-color: rgb(178, 105, 247);


}